<div class="footer section dark fullwidth" id="section_footer">
    <div class="container fullwidth">
        <div class="row light">
            <div class="col c12">
                <h3>Volg ons!</h3>
            </div>
        </div>
    </div>
    <div class="container fullwidth">
        <div class="row light spacious">
            <div class="col c4">
                <p><img class="icon icon-sm" src="https://zilverenpeloton.be/images/website.png"><a
                        href="https://de1000km.be">de1000km.be</a></p>
            </div>
            <div class="col c4">
                <p><img class="icon icon-sm" src="https://zilverenpeloton.be/images/facebook.png"><a
                        href="https://www.facebook.com/komoptegenkanker/">/komoptegenkanker</a></p>
            </div>
            <div class="col c4">
                <p><img class="icon icon-sm" src="https://zilverenpeloton.be/images/instagram.png"><a
                        href="https://www.instagram.com/komop_tegenkanker">/komop_tegenkanker</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row dark">
            <div class="col c12">
                <p class="copy">&copy;&nbsp;<a
                        href="https://validator.w3.org/nu/?showoutline=yes&showsource=yes&showimagereport=true&doc={{ page.url }}"
                        aria-label="HTML validator">2</a>02<a
                        href="https://jigsaw.w3.org/css-validator/validator?uri={{ page.url }}"
                        aria-label="CSS validator">4</a> &mdash; Kom op tegen Kanker</p>
            </div>
        </div>
    </div>
</div>